body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffff;
    background-image: url('./images.jpg');
    background-size: cover;
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  Form {
    width: 400px;
    padding: 25px;
    background-color: #fdfdfd;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    opacity:70%;
    text-align: left;
  }

  label {
    width: 40%;
    font-weight: bold;
    color: #05633a;
   
    
    
    
   
   
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid #6c6b6b;
    border-radius: 10px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 15px;
    
  }
  
  button {
    width: 30%;
    padding: 10px;
    margin-top: 5px;
    background-color: #057149;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    margin: 10%;
  }
  
  button[type="button"] {
    background-color:  #057149;
  }
  
  button:hover {
    background-color: #9c9c9c;
  }
  
  button[type="button"]:hover {
    background-color: #858282;
  }
  
  .success-message {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    font-size:25px;
    
  }
  
